<a href="https://colab.research.google.com/github/nan-973/assignment_/blob/main/python_assignment_b6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics Assignment

### Question 1
Write a function to compute number of vowels in a string given as input

In [164]:
def your_function_1(s):
  c=0
  for i in s:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
      c+=1
  return c

result = your_function_1(s="Sereena")
print("number of vowel in string:",result)

number of vowel in string: 4

### Question 2
Write a function that checks whether a number is prime.

In [165]:
def your_function_2(n):
  c=0
  for i in range(1,n+1):
    if n%i==0:
      c+=1
  if c==2:
    return True
  else:
    return False

result = your_function_2(n=3)
print(result)

True

### Question 3
Write a function to return the maximum of two numbers.

In [166]:
def your_function_3(a,b):
  return max(a,b)

result=your_function_3(a=8, b=5)
print(result)

8

### Question 4
Write a function to return the factorial of a number.

In [167]:
def your_function_4(p):
  q=1
  for i in range(1,p+1):
    q=q*i
  return q

result=your_function_4(5)
print(result)

120

### Question 5
Write a function to reverse a string without string indexing.

In [168]:
def your_function_5(d):
  r=""
  for i in d:
    r=i+r
  return r

result=your_function_5("Nandana")
print(result)

anadnaN

### Question 6
Write a function to check if a string is a palindrome.

In [169]:
def your_function_6(u):
  u=u.lower()
  r_u=u[::-1]
  if r_u==u:
    return "Palindrome"
  else:
    return "Not Palindrome"

result=your_function_6("Malayalam")
print(result)

Palindrome

### Question 7
Write a function to count vowels in a string.

In [170]:
def your_function_7(n=input("Enter a string :")):
  c=0
  for i in n:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
      c+=1
  return c

result = your_function_7()
print("number of vowel in string:",result)

Enter a string :nandana
number of vowel in string: 3

### Question 8
Write a function that returns the sum of a list.

In [171]:
def your_function_8(o):
    return sum(o)

result = your_function_8(o=[1,2,3,4,5])
print("Sum of list",result)

Sum of list 15

### Question 9
Write a function to find the smallest number in a list.

In [172]:
def your_function_9(k):
  return min(k)

result = your_function_9(k=[1,2,3,4,5])
print("Smallest number in list = ",result)

Smallest number in list =  1

### Question 10
Write a function to remove duplicates from a list.

In [173]:
def your_function_10(e):
  set_e=set(e)
  return list(set_e)

result = your_function_10(e=[1,2,3,8,8,8,3,4,5])
print("List without duplicates = ",result)

List without duplicates =  [1, 2, 3, 4, 5, 8]

### Question 11
Write a function to sort a list in ascending order without using builtin sort function

In [174]:
def your_function_11(g):
  N=len(g)
  for i in range(N):
    for j in range(0, N - i - 1):
      if g[j] > g[j + 1]:
       g[j], g[j + 1] = g[j + 1], g[j]
  return g

result = your_function_11(g=[4,6,7,8,1,2])
print("List in ascending order",result)

List in ascending order [1, 2, 4, 6, 7, 8]

### Question 12
Write a function that returns the length of a string.

In [175]:
def your_function_12(st):
  return len(st)

result = your_function_12(st="hello")
print("Length of string is",result)

Length of string is 5

### Question 13
Write a function to count words in a sentence.

In [176]:
def your_function_13(sentence):
  N=len(sentence)
  count=0
  for i in range(N):
    if sentence[i]!=' ' and (i==0 or sentence[i-1]==' '):
      count+=1
  return count

result = your_function_13("This is a sentence")
print("Count of words in string is",result)

Count of words in string is 4

### Question 14
Write a function to convert Celsius to Fahrenheit.

In [177]:
def your_function_14(cel):
  return (cel*(9/5))+32

result = your_function_14(0)
print("Celsius to Fahrenheit is",result)

Celsius to Fahrenheit is 32.0

### Question 15
Write a function to check if a number is palindrome.

In [178]:
def your_function_15(d):
  d=str(d)
  rev_d=d[::-1]
  if rev_d==d:
    return "Palindrome"
  else:
    return "Not Palindrome"

result = your_function_15(121)
print(result)

Palindrome

### Question 16
Write a function to return all even numbers in a list.

In [179]:
def your_function_16(my_list):
  N=len(my_list)
  ev_list=[]
  for i in range(N):
    if my_list[i]%2==0:
      ev_list.append(my_list[i])
  return ev_list

result = your_function_16([1,2,3,4,6,8,10])
print("Even numbers in list",result)

Even numbers in list [2, 4, 6, 8, 10]

### Question 17
Write a function to return the nth Fibonacci number.

In [180]:
def your_function_17(n):
  a=0
  b=1
  u=[]
  for i in range(n):
    u.append(a)
    temp=a
    a=b
    b=temp+b
  return u

result = your_function_17(6)
print(result)

[0, 1, 1, 2, 3, 5]

### Question 18
Write a function to calculate the average of a list.

In [181]:
def your_function_18(my_list1):
  N=len(my_list1)
  total=sum(my_list1)
  return total/N

result = your_function_18([1,2,3,4,6,8,10])
print("Average of list is",result)

Average of list is 4.857142857142857

### Question 19
Write a function that returns a dictionary of character counts.

In [182]:
def your_function_19(s=input("Enter a word : ")):
  s=s.lower()
  d={}
  for letter in s:
    if letter in d:
      d[letter] += 1
    else:
      d[letter] = 1

  return d
result = your_function_19()
print(result)

Enter a word : happy
{'h': 1, 'a': 1, 'p': 2, 'y': 1}

### Question 20
Write a function that returns True if all list elements are unique.

In [183]:
def your_function_20(list1):
  N=len(list1)
  N1=len(set(list1))
  if N==N1:
    return True
  else:
    return False

result = your_function_20([1,2,3,4,6,8,10])
print(result)

True

### Question 21
Write a function that returns dot product of two list of numbers

In [184]:
def your_function_21(l1,l2):
  n=len(l1)
  N=len(l2)
  if n!=N:
    return "List should be of same length"
  else:
    result =0
    for i in range(len(l1)):
      result += l1[i] * l2[i]
    return result

r = your_function_21([1,2],[4,5,6])
print(r)

List should be of same length

### Question 22
Write a function that returns the projection of vector a onto vector b. Both a and b are given as list of numbers

In [185]:
import math
def your_function_22(a,b):
  dot_product=your_function_21(a,b)
  mag_b=math.sqrt(sum(x**2 for x in b))
  return dot_product/mag_b


r = your_function_22([1,2,3],[4,5,6])
print(r)

3.6467384467084143

### Question 23
Write a function to return common elements between two lists.

In [186]:
def your_function_23(n,m):
  p=[]
  for i in n:
    if i in m and i not in p:
      p.append(i)
  return p

r = your_function_23([4,2,3],[4,5,6])
print(r)

[4]

### Question 24
Create a class Vector that supports addition, dot product, and magnitude.

In [187]:
import math
class Vector:
  def __init__(self, a, b):
    self.a = a
    self.b = b

  def add(self):
    if len(self.a) != len(self.b):
      return "List should be of same length"
    else:
      result = []
      for i in range(len(self.a)):
        result.append(self.a[i] + self.b[i])
      return result

  def dot_product(self):
    if len(self.a) != len(self.b):
      return "Lists should be of same length"
    result = 0
    for i in range(len(self.a)):
      result += self.a[i] * self.b[i]
    return result

  def magnitude(self):
    return math.sqrt(sum(x**2 for x in self.a))


vector=Vector([1,2],[3,4])
s=vector.add()
v=vector.dot_product()
w=vector.magnitude()
print(s,"\n",v,"\n",w)

[4, 6]
 11
 2.23606797749979

### Question 25
Implement a function to return all outliers in a list based on the IQR method.

In [188]:
def your_function_25(my_list6):
  sorted_list6=sorted(my_list6)
  N=len(my_list6)
  p=((25/100)*(N+1))
  p1=str(p)
  for i in p1:
    if i==".":
      k=p1.find(".")
      whole_part=p1[:k]
      dec_part=p1[k:]
  whole_part1=int(whole_part)
  dec_part1=float(dec_part)
  q=sorted_list6[whole_part1-1]
  r=sorted_list6[whole_part1]
  Q1=q+dec_part1*(r-q)

  j=((75/100)*(N+1))
  j1=str(j)
  for i in j1:
    if i==".":
      k=j1.find(".")
      whole_part_=j1[:k]
      dec_part_=j1[k:]
  whole_part2=int(whole_part_)
  dec_part2=float(dec_part_)
  w=sorted_list6[whole_part2-1]
  x=sorted_list6[whole_part2]
  Q3=w+dec_part2*(x-w)

  IQR=Q3-Q1
  lower_bound=Q1-1.5*IQR
  upper_bound=Q3+1.5*IQR
  for i in sorted_list6:
    if i < lower_bound or i > upper_bound:
      return i
    else:
      return None
    break


result = your_function_25(my_list6=[7,11,23,42,-3,-21,26,30])
print(result)

None

### Question 26
Function with default arguments:
Create a function to compute variance with an option to use sample or population formula

In [189]:
def your_function_26(d, mode):
    N = len(d)
    mean = sum(d) / N
    total = 0

    for x in d:
        total += (x - mean) ** 2

    if mode == "sample":
        return total / (N - 1)
    elif mode == "population":
        return total / N

result = your_function_26([1,2,3],"population")
print(result)

0.6666666666666666

### Question 27
Create a list of squares of even numbers between 1 and 20 using list comprehension.

In [190]:
def your_function_27():
  squares = [x**2 for x in range(1, 21) if x % 2 == 0]
  return squares

res=your_function_27()
print(res)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Question 28
Write a function that returns the L1 and L2 norms of a vector given as list

In [191]:
import math
def your_function_28(vector):
  l1 = 0
  l2 = 0

  for x in vector:
    l1 += abs(x)
    l2 += x**2

  l2 = math.sqrt(l2)
  return l1, l2

res=your_function_28([1,2])
print(res)

(3, 2.23606797749979)

### Question 29
Write a function that computes the 95% confidence interval for the mean of a list of numbers assuming normal distribution.

In [192]:
import math
def your_function_29(data):
    n = len(data)
    mean = sum(data) / n
    total = 0
    for x in data:
        total += (x - mean) ** 2
    std_dev = math.sqrt(total /n)
    margin_of_error = 1.96 * (std_dev / math.sqrt(n))

    lower_bound = mean - margin_of_error
    upper_bound = mean + margin_of_error
    return lower_bound, upper_bound

result = your_function_29([10, 12, 14, 15, 13, 11, 12])
print("95% Confidence Interval for the mean:", result)

95% Confidence Interval for the mean: (11.25009783955893, 13.607045017583928)

### Question 30
Given a list of categorical values, create a frequency distribution dictionary.

In [193]:
def your_function_30(categories):
  freq = {}
  for item in categories:
    if item in freq:
      freq[item] += 1
    else:
      freq[item] = 1
  return freq

result = your_function_30(["book", "bag", "book", "pencil", "bag", "pencil"])
print(result)

{'book': 2, 'bag': 2, 'pencil': 2}